@font-face {
   font-family: Cocogoose;
   src: url(./fonts/Cocogoose.ttf);
}

.souotario{
	background-color: #2d6974;
}

.bavnar{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.pt2 {
	background-color: #2d6974;
}

.line {
	background-color: #68b39f;
}

.ajax {
	color: white;
	text-align: justify;
	width: 450px;
	height: auto;
	padding-top: 15px;
}

.japax {
	width: 450px;
	height: 300px;
	background-color: yellow;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
}

.vid{
	height: auto;
	width: auto;
}

.cento {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.cardplay {
	width: 300px;
	background-color: #68b39f;
	height: 350px;
	border-radius: 23px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	cursor: pointer;
	
}

.kebbab{
  justify-content: center;
  align-items: center;
}

.seput {
	width: 100px;
	height: 10px;
}

.jumbotron {
	height: 40px;
	align-content: center;
	justify-content: center;
    align-items: center;
	background-color: #2d6974;
}

.aranara {
	 color: white;
	 display: flex;
     justify-content: center;
     align-items: center;
}

.jupont {
	text-align: center;
	color: white;
	font-weight: bold;
}


.jupont p1 {
	font-size: 35px;
}

.gayming {
	width: 130px;
	height: 130px;
}

body{
	font-family: 'Cocogoose', sans-serif;
}

.a p1 {
	color: #2d6974;
	font-weight: 700px;
	font-size: 45px;
	
}
.a p {
	color: #68b39f;
	font-weight: bold;
	font-size: 60px;
	line-height: 15px;
}
@media (max-width: 800px) {
  .a p1 {
	color: #2d6974;
	font-weight: bold;
	font-size: 25px;
}
.a p {
	color: #68b39f;
	font-weight: 700px;
	font-size: 40px;
}
.bavnar{
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.b p{
	color: #68b39f;
	font-weight: 700px;
	font-size: 15px;
}

.b p1{
	color: #2d6974;
	font-weight: bold;
	font-size: 30px;
}

}

.b p{
	color: #68b39f;
	font-weight: 700px;
	font-size: 25px;
}

.b p1{
	color: #2d6974;
	font-weight: bold;
	font-size: 40px;
}


@media (max-width: 450px) {
  .a p1 {
	color: #2d6974;
	font-weight: bold;
	font-size: 15px;
}
.a p {
	color: #68b39f;
	font-weight: 700px;
	font-size: 30px;
}
.bavnar{
	color: white;
	font-size: 10px;
	font-weight: bold;
}

.b p{
	color: #68b39f;
	font-weight: 700px;
	font-size: 15px;
}

.b p1{
	color: #2d6974;
	font-weight: bold;
	font-size: 20px;
}

}